* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin: 2% 5% 0 5%;
}

.link {
    text-decoration: none;
    border: solid 2px;
    border-radius: 200px;
    font-size: 36px;
    padding: 10px;
    background-color: gray;
    color: black
}

.titulo {
    font-size: 45px;
    font-weight: bold;
}